@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
	font-family: 'Poppins', sans-serif;
	color: #000000;
}

.container{
	max-width: 1230px;
	padding: 0 30px;
	margin: 0 auto;
}
/* Header */

.header{
	background-color:#F1F1F1;
	padding-top: 46px;
}

.header-nav{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.logo{
	font-weight: 700;
	font-size: 32px;
	line-height: 32px;
	color: #000;
	position: relative;
}
.logo::after{
	content: "";
	display: block;
	background-color: #FDA300;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	position: absolute;
	right: -12px;
	bottom: -3px;
}

.nav-list{
	display: flex;
	column-gap: 50px;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
}

.nav-link.active{
	color: #606060;
}

.nav-link{
	color: #000;
}

.header-content{
	display: flex;
	justify-content: space-between;
	column-gap: 30px;
	padding-top: 76px;
}

.name{
	font-weight: 600;
	font-size: 44px;
	margin-bottom: 20px;
	line-height: 66px;
}

.description{
font-weight: 400;
font-size: 14px;
line-height: 28px;
max-width: 500px;
}

.header-text{
	margin-top: 124px;
}

/* Services */

.services{
	padding: 90px 0px;
	background-color: #fff;
}

.services-row{
	display: flex;
	justify-content: space-between;
	column-gap: 30px;
}
.service-title{
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.service-img{
	height: 68px;
	width: 68px;
	margin-bottom: 30px;
}

.service-card p{
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
}

.service-card{
	width: 370px;
}

/* Portfolio */

.portfolio{
	padding: 90px 0;
	background-color: #F1F1F1;
}

.portfolio-col {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 90px;
}

.portfolio-title {
	font-weight: 600;
	font-size: 34px;
	line-height: 51px;
	text-align: center;
	color: #070707;
	position: relative;
	bottom: -16.67px;
}

.portfolio-card {
	max-width: 930px;
}

.portfolio-img {
	width: 100%;
	margin-bottom: 40px;
}
.portfolio-link {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #070707;
	text-align: center;
	min-width: 300px;
	text-decoration-line: underline;
}

.portfolio-link a{
	color: #070707;
}

/* Footer */

.footer {
padding: 90px 0;
display: flex;
align-items: center;
flex-direction: column;
}

.contacts {
text-align: center;
}

.contact-title {
font-weight: 600;
font-size: 34px;
line-height: 51px;
color: #070707;
margin-bottom: 40px;
}

.contact-message {
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #070707;
margin-bottom: 40px;
}

.contact-button {
	margin-bottom: 80px;
}

.btn{
	display: inline-block;
	color: #fff;
	background-color: #000;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	padding: 7px 22px;
	border-radius: 30px;
	border: 1px solid #000;
	transition: 0.2s background-color, color;
}

.btn:hover{
	background-color: #494949;
}

.btn:active{
	background-color: #fff;
	color: #000;
	position: relative;
	top: 2px;
}

.socials {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.social-description {
	font-size: 14px;
	line-height: 21px;

}